<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
>

    <testsuites>
        <testsuite name="Package test suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/Accounting</directory>
        </whitelist>
    </filter>
</phpunit>
